POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=aetherpay
POSTGRES_PORT=5432

HOST_ADDRESS=localhost
DB_SSLMODE=disable
DB_TIMEZONE=UTC

JWT_SECRET="JWT SECRET HAHA"
AUTH_PORT=:3001
JWT_EXPIRY_MINUTES=15m
